div{

    float: left;
    width: 10%;
    height: 700px;
}
.h1{
    color: blue;
}
.h2{
    color:orangered;
}
.h3{
    color: orange;
   
}
.h4{
    color:blue;
  
    
}
.h5{
    color: green;
   
}
.h6{
    color: orangered;
}
marquee{
    float: left;
}
body{
    text-align: center;
    margin-left: 30%;
    width: 50%;
    padding: 10px;
}